@Html.Partial("head.cshtml")
<div class="container-full">
  <div class="hero">
    <div class="nav">
      <a href="/"><h1 class="brand">Barter</h1></a>
      <ul>
        <li class="menu-toggle">=</li>
        <li> <a href="/login">Sign in</a></li>
        <li><a href="/newuser">Create Account</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
  </div>
  <div class="container cta">
    <div class="opacity">
      <h2>A bartering network for creative services</h2>
    </div>
    <a href="/newuser"><button class="btn-cta">Get Started</button></a>
  </br>
  </div>
  <div class="container">
    <div class="info-section">
      <div class="info-item">
        <div class="circle">
          <img src="/Content/img/clipboard.png" alt="" />
        </div>
        <p>Sign up: Tell us what you're looking for, and what you can provide.</p>
      </div>
      <div class="info-item">
        <div class="circle">
          <img src="/Content/img/globe.png" alt="" />
        </div>
        <p>Get Matched: We'll show you possible matches in your area.</p>
      </div>
      <div class="info-item">
        <div class="circle">
          <img src="/Content/img/envelopes.png" alt="" />
        </div>
        <p>Message: Send a message to the provider and begin bartering!</p>
      </div>
    </div>
    <h2>Search By Location</h2>

    <form action='/location' method="post">
      <select name = "location">
      @foreach(var user in @Model["users"])
      {
      <option value = @user.GetLocation()>@user.GetLocation()</option>
      }
    </select>
      <button type="submit" name="button">Search For Location</button>
    </form>

    <div class="preview-section">
      <div class="preview-item">
        <div class = "row">
        <div class="">
          <div class="col-sm-6">
            @if (@Model["posts"] != null)
            {
              foreach(var post in @Model["posts"])
              {
                <a href = "/profile/@post.GetUser_Id()"><img src = '@post.GetUserPicture()' height = "100" width = "100"></img></a>
                <p>@post.GetUserPost() - @post.GetDate() - @post.GetUser_Id() - <a href = "/email/@post.GetUser_Id()">@post.GetUserEmail()</a></p>
                <a href = "/location/@post.GetUser_Id()">Click To See Location</a>
                <hr />
              }
            }
            else {
              <p>
                No posts yet.
              </p>
            }
          </div>

        </div>

          @{
          if(@Model["user"] != null)
          {
            <!-- <h1>@Model["user"].GetEmail()</h1> -->
        <div class="map col-sm-4 map-class">
          <iframe
          width="450"
          height="350"
          frameborder="0" style="border:0"
          src='https://www.google.com/maps/embed/v1/place?key=AIzaSyBPK7FnNiDe46HvQEKl1UmmSCjkIPK3tuw
            &q=@Model["user"].GetLocation()'
          allowfullscreen>
        </iframe>
        </div>
        }
      }



      </div>
    </div>
      </div>
    </div>
  </div>
  <footer>&copy; 2016 Jess Guilford, Christine Tacha, Andy Cho, Timothy Durward, Simon Temple, Alex Larson<br> All rights reserved</footer>
</div>
</body>
