@Html.Partial("head.cshtml")
<div class="container-full">
  <div class="hero">
    <div class="nav">
      <a href="/"><h1 class="brand">Barter</h1></a>
      <ul>
        <li class="menu-toggle">=</li>
        <li> <a href="/login">Sign in</a></li>
        <li><a href="/newuser">Create Account</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
  </div>
  <div class="container cta">
    <div class="opacity">
      <h2>A bartering network for creative services</h2>
    </div>
    <a href="/newuser"><button class="btn-cta">Get Started</button></a>
  </br>
  </div>
  <div class="container">
    <div class="info-section">
      <div class="info-item">
        <div class="circle">
          <img src="/Content/img/clipboard.png" alt="" />
        </div>
        <p>Sign up: Tell us what you're looking for, and what you can provide.</p>
      </div>
      <div class="info-item">
        <div class="circle">
          <img src="/Content/img/globe.png" alt="" />
        </div>
        <p>Get Matched: We'll show you possible matches in your area.</p>
      </div>
      <div class="info-item">
        <div class="circle">
          <img src="/Content/img/envelopes.png" alt="" />
        </div>
        <p>Message: Send a message to the provider and begin bartering!</p>
      </div>
    </div>
    <div class="preview-section">
      <div class="preview-item">
        <div class = "row">
        <div class="info-section">
          <div class="info-item col-sm-8">
            @if (@Model["posts"] != null)
            {
              foreach(var post in @Model["posts"])
              {
                <p>@post.GetUserPost() - @post.GetDate() - @post.GetUser_Id() - <a href = "/email/@post.GetUser_Id()">@post.GetUserEmail()</a></p>
              }
            }
            else {
              <p>
                No posts yet.
              </p>
            }
          </div>
          <div class="info-item col-sm-4">
            @if (@Model["users"] != null)
            {
              foreach(var user in @Model["users"])
              {
                <img src = "@user.GetPicture()" height = "100" width = "100"></img>
                <a href = "/profile/@user.GetId()"><p>@user.GetEmail()</p></a>
              }
            }
            else {
              <p>
                No users yet.
              </p>
            }
          </div>

        </div>

      </div>
    </div>
      </div>
    </div>
  </div>
  <footer>&copy; 2016 Jess Guilford, Christine Tacha, Andy Cho, Timothy Durward, Simon Temple, Alex Larson<br> All rights reserved</footer>
</div>
</body>
