
@Html.Partial("head.cshtml")
<div class="modal-transparency"> </div>
<div class="container-full">
  <div class="hero">
    <div class="nav nav-main">
      <a href="/"><h1 class="brand">Barter</h1></a>
      <ul>
        <li class="menu-toggle"><i class="fa fa-bars"></i></li>



        <li><a href="/login">Sign in</a></li>
        <li><a href="/newuser">Create Account</a></li>
        <li><a href="/about">About</a></li>
        <li><a href = "logout">Logout</a></li>
        @if (@Model["posts"] != null)
        {
          @foreach(var user in @Model["users"])
          {
            @if(user.DetermineUser() == true)
            {
            <a href = "/profile/@user.GetId()"><img src = '@user.GetPicture()' height = "100" width = "100"></img></a>

         <!-- <form action="/logout" method="post">
            <input type="hidden" name="logout" value="@user.GetId()">
            <button type="submit" name="button">Logout</button>
        </form> -->
        <!-- <a href = "logout"><button type="submit" name="button">Logout</button></a> -->
            }
            }
        }
      </ul>
    </div>
    <img src="/Content/img/header01.jpg" class="header01">
    <img src="/Content/img/header02.jpg" class="header02">
    <img src="/Content/img/header03.jpg" class="header03">
    <img src="/Content/img/header01.jpg" class="header-bg">
  </div>
  <div class="container cta">
    <div class="opacity">
      <h2>A bartering network for creative services</h2>
    </div>
    <a href="/newuser"><button class="btn-cta">Get Started</button></a>
  </div>
  <div class="container">
    <div class="info-section">
      <div class="info-item">
        <div class="circle">
          <img src="/Content/img/clipboard.png" alt="" />
        </div>
        <p>Sign up: Tell us what you're looking for, and what you can provide.</p>
      </div>
      <div class="info-item">
        <div class="circle">
          <img src="/Content/img/globe.png" alt="" />
        </div>
        <p>Get Matched: We'll show you possible matches in your area.</p>
      </div>
      <div class="info-item">
        <div class="circle">
          <img src="/Content/img/envelopes.png" alt="" />
        </div>
        <p>Message: Send a message to the provider and begin bartering!</p>
      </div>
    </div>
    <h2>Search By Location</h2>

    <form action='/location' method="post">
      <select class = "customClass" name = "location">
      @foreach(var user in @Model["users"])
      {
      <option value = @user.GetLocation()>@user.GetLocation()</option>
      }
    </select>
      <button type="submit" name="button">Sort Posts By Location</button>
    </form>

      <div class="post-feed">
      <div class="posts-column">
        <p>Posts go in this column</p>
        <div class = "container user-posts">
            @if (@Model["posts"] != null)
            {
              foreach(var post in @Model["posts"])
              {
                <li>
                  <div class="post-useremail">@post.GetUserEmail()</div>
                  <img class = "curvedPic" src = "@post.GetUserPicture()" height = "100" width = "100">
                  <div class="post-content">@post.GetUserPost()
                    <br><hr />
                  <a href = "/location/@post.GetUser_Id()">Click To See Location</a>
                  <br>
                  @post.GetDate()</div>
                  <form action = "/email/@post.GetUser_Id()"><button class="btn-message">Message</button></form>
                </li>
              }
            }
            else {
              <p>
                No posts yet.
              </p>
            }
          </div>
        </div>


        <div id ="Map" class="map-column">
          <iframe
          width="450"
          height="350"
          frameborder="0" style="border:0"
          src='https://www.google.com/maps/embed/v1/place?key=AIzaSyBPK7FnNiDe46HvQEKl1UmmSCjkIPK3tuw
            &q=@Model["user"].GetLocation()'
          allowfullscreen>
        </iframe>

        @foreach(var user in @Model["users"])
        {
          <div class="message-modal">
            <div class="modal-close"><i class="fa fa-times"></i></div>
            <h3>Message User</h3>
            <form class="modal-form" action='/email/@user.GetId()' method="post">
              <p>Send a message to a user. Just write your response below, select the user from the dropdown, and click "send message"</p>
              <label class="msg" for="email">Write Your Message</label>
              <textarea type="text" name="email"></textarea>
              <select name = "sender">
              @foreach(var emailUser in @Model["users"])
              {
              <option value = @user.GetId()>@emailUser.GetEmail()</option>
              }
              </select>
              <button class="modal-btn" type="submit" name="button">Send Message</button>
            </form>
          </div>
        }
        </div>


    </div>
    </div>
      </div>
    </div>
  </div>

  <footer>&copy; 2016 Jess Guilford, Christine Tacha, Andy Cho, Timothy Durward, Simon Temple, Alex Larson<br> All rights reserved</footer>
</div>
</body>
</html>
