@Html.Partial("head.cshtml")
  <a href="/newuser">Create Account</a>
  <a href="/login">Sign in</a>
  <hr />

@if (@Model["posts"] != null)
{
  foreach(var post in @Model["posts"])
  {
    <p>@post.GetUserPost() - @post.GetDate()</p>
  }
}
else {
  <p>
    No posts yet.
  </p>
}

@if (@Model["users"] != null)
{
  foreach(var user in @Model["users"])
  {
    <a href = "/profile/@user.GetId()"<p>@user.GetEmail()</p>
  }
}
else {
  <p>
    No users yet.
  </p>
}
