@Html.Partial("head.cshtml")
<div class="container-full">
  <div class="hero-signup">
    <div class="nav">
      <a href="/"><h1 class="brand">Barter</h1></a>
      <ul>
        <li class="menu-toggle">=</li>
        <li> <a href="/login">Sign in</a></li>
        <li><a href="/newuser">Create Account</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
    <h2>Sign Up for Barter</h2>
  </div>
</div>
<h1>@Model.GetEmail()</h1>
<div class = "container">
  <div class = "row">
<h3><img src="@Model.GetPicture()" height = "300" width = "300" alt=""></h3>
<h3>@Model.GetLocation()</h3>


<form class="" action="/postForm/@Model.GetId()" method="post">
  <input type="text" name="post" value="">
  <label for="post">Post something</label>
  <button type="submit" name="button">Click here</button>
</form>

<div class = "col-sm-6">
@foreach (var post in @Model.GetPosts())
{
  <li>@post.GetUserPost()</li>
  <hr />


}
</div>

<div class = "col-sm-6">
@foreach (var email in @Model.GetEmails())
{
  <li>Message: @email.GetEmail()</li>
  <li>Email Sender: @email.GetSenderEmail()</li>
<hr />
}
</div>

</div>
</div>
