@Html.Partial("head.cshtml")
<h1>@Model.GetEmail()</h1>
<h3><img src="@Model.GetPicture()" height = "300" width = "300" alt=""></h3>
<h3>@Model.GetLocation()</h3>


<form class="" action="/postForm/@Model.GetId()" method="post">
  <input type="text" name="post" value="">
  <label for="post">Post something</label>
  <button type="submit" name="button">Click here</button>
</form>

@foreach (var post in @Model.GetPosts())
{
  <li>@post.GetUserPost()</li>


}

<a href="/">Home</a>
